@model FinalPrueba.Models.TicketDetalle

@{
    ViewData["Title"] = "Details";
}
<div class="container py-4">
    <h1 class="text-center">Detalles</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div>

                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Id de ticket
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdTicket)
                    </dd>
                    <dt class="col-sm-2">
                        Descripcion de pedido
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.descripcionPedido)
                    </dd>
                    <dt class="col-sm-2">
                        Id de estado
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.estadoId)
                    </dd>
                    <dt class="col-sm-2">
                        Fecha de estado
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.fechaEstado)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a> |
                <a href="#" class="btn btn-primary" onclick="goBack()">Volver</a>
            </div>
        </div>
    </div>
</div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
