@model X.PagedList.IPagedList<FinalPrueba.Models.TicketDetalle>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Detalles de pedido</h1>

<p>
    <a asp-action="Create" class="text-center">Crear detalle</a>
</p>
<div class="container py-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Ticket 
                        </th>
                        <th>
                            Descripcion de pedido
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Fecha de estado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTicket)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcionPedido)
                            </td>
                            <td>
                                @if (item.estado.resolucion)
                                {
                                    <span>Resuelto</span>
                                }
                                else
                                {
                                    <span>No Resuelto</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechaEstado)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })

